<div class="container text-center my-3">

	<div class="mb-4">
		<h1 class="">Interface Generator</h1>
	</div>

	<div>
		<button class="btn  btn-outline-primary my-3" (click)="generateInterface()">Generate Interface</button>
	</div>

	<div class="optionalPropsContainer">
		<label for="enableOptionalProps" class="mx-3">Enable Required and optional props</label>
		<input type="checkbox" name="enableOptionalProps" id="enableOptionalProps" [(ngModel)]="enableOptionalProps" />
	</div>
	<!-- Display an error if failed to parse the json -->
	<div class="text-danger" [ngClass]="showErrorMsg ? 'error-msg-show' : 'error-msg-hide'">
		<p>{{ this.errorMsg }}</p>
	</div>

	<div class="text-success" [ngClass]="showSuccessMsg ? 'copy-msg-show' : 'copy-msg-hide'">
		<p>{{ this.successMsg }}</p>
	</div>
</div>

<div class="container-fluid my-4">
	<div class="row">
		<div class="col">
			<div class="d-flex justify-content-between">
				<div>
					<h3>JSON</h3>
					<pre [innerHTML]="json"></pre>
				</div>

				<div>
					<h3>Interface</h3>
					<pre>{{ interface }}</pre>
					<button class="btn  btn-outline-primary my-3" *ngIf="this.canCopyInterface"
						(click)="this.onInterfaceCopy.emit(this.interface)">
						Copy Interface
					</button>

				</div>

			</div>


		</div>

		<div class="col text-center">
			<div class="my-3">
				<span class="mx-3 ">JSON Examples</span>
				<button class="btn btn-outline-primary mx-1" (click)="_copyJsonToClipboard(0)">json1</button>
				<button class="btn btn-outline-primary mx-1" (click)="_copyJsonToClipboard(1)">json2</button>
				<button class="btn btn-outline-primary mx-1" (click)="_copyJsonToClipboard(2)">json3</button>
			</div>

			<!-- the input -->
			<div>
				<textarea name="json_input" placeholder="enter your json input here..." #jsonInput
					class="form-control min-vh-100"></textarea>
			</div>
		</div>
	</div>
</div>