/* You can add global styles to this file, and also import other style files */

.title {
  text-align: center;
  margin-bottom: 20px;
}

textarea {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 24px;
  padding: 0px;
  margin: 0px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px 80px;
  padding: 20px;
  grid-gap: 20px;
}
.section {
  padding: 5px;
  margin: 5px;
}

.input-section {
  margin: 0px 200px;
}

pre {
  padding-left: 30px;
  font-size: 20px;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.string {
  color: green;
}
.number {
  color: darkorange;
}
.boolean {
  color: blue;
}
.null {
  color: magenta;
}
.key {
  color: red;
}

.btn {
  text-transform: uppercase;
  padding: 20px;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  font-size: 20px;
  margin: auto;
  border: 1px solid black;
  background-color: white;
  color: black;
}

.btn:hover {
  background: #60a3bc;
  color: white;
}

.error-msg {
  color: red;
  margin: auto;
  text-align: center;
  font-size: 18px;
}

.success-msg {
  color: green;
  margin: auto;
  text-align: center;
  font-size: 18px;
}

.error-msg-show {
  display: block;
}

.error-msg-hide {
  display: none;
}

.copy-msg-show {
  display: block;
}

.copy-msg-hide {
  display: none;
}

.jsonCopyConteiner {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.btn-inline {
  display: inline-block;
  margin: 0px 50px;
}

.btn-copy-result {
  margin-top: 60px;
  margin-left: 20px;
}

.optionalPropsContainer {
  margin: 30px auto;
  text-align: center;
  font-size: 25px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.optionalPropsContainer input {
  height: 30px;
  width: 30px;
}
